<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">      
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Doses</a>
      <a class="nav-item nav-link" routerLink="/vacinados">Vacinados</a>      
      <a class="nav-item nav-link" routerLink="/cadastro">Cadastro</a>      
      <a class="nav-item nav-link" routerLink="/relatorio">Relatório</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>